h1{
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 100px;
 text-align:center ;
}
h2{
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}
